*/images/*
.env
*ipynb
*jpg
*.DS_Store
*png
*__pycache__*
*pkl
*bin
.vscode/settings.json
.checkpoints/imagebind_huge.pth
.ipynb_checkpoints/README-checkpoint.md
*.egg-info/
build/
dist/
temp.txt
v0_generate_vector_db.py
artifacts/
EDA/product_blurbs/combined_blurb_dict.json
images.csv
